// Social: Facebook / Open Graph
meta(property="og:url", content=url)
meta(property="og:type", content=facebookType)
meta(property="og:title", content=name)
meta(property="og:site_name", content=name)
meta(property="og:image", content=image)
meta(property="og:description", content=description)

// Social: Twitter
meta(name="twitter:card", content=twitterType)
meta(name="twitter:site", content=url)
meta(name="twitter:title", content=name)
meta(name="twitter:description", content=description)
meta(property="twitter:image:src", content=image)

// Social: Google+
meta(itemprop="name", content=name)
meta(itemprop="description", content=description)
meta(itemprop="image", content=image)
